.App{
  display: flex;
  justify-content:center ;
  align-items: center;
  height: 100vh;
}
.rows{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
 outline-width: 0.1px;
 outline-style: solid;
}
.rows img{
  display: none;
}
.table-area{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(253, 253, 211);
}
.reset{
  background-color: aqua;
  height: 300px;
}
